spring:
  application:
    name: examverse-backend

  profiles:
    active: prod  # change to 'prod' on Render

---
spring:
  config:
    activate:
      on-profile: dev

  datasource:
    url: jdbc:h2:mem:examverse
    driver-class-name: org.h2.Driver
    username: sa
    password:

  h2:
    console:
      enabled: true
      path: /h2-console

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

server:
  port: 8080

---
spring:
  config:
    activate:
      on-profile: prod

  datasource:
    url: jdbc:postgresql://dpg-examverse-prod-db.singapore-postgres.render.com:5432/examverse_db
    username: examverse_admin
    password: ExamVerse@2025
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

server:
  port: 8080